/* src/index.css */

@tailwind base;     /* Base reset CSS của Tailwind */
@tailwind components;
@tailwind utilities;

/* Reset CSS bổ sung */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

.container_body {
  max-width: 700px;
  margin: auto;
  background: #ebebeb;
  height: auto;
}