/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind base;     /* Base reset CSS của Tailwind */
@tailwind components;
@tailwind utilities;

/* Reset CSS bổ sung */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  color: #000;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Source Sans Pro, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

.container_body {
  max-width: 650px;
  margin: auto;
  background: #ebebeb;
  height: auto;
  /* overflow: auto; */
  position: relative
}